body{
				background-image: url(03cde50a28c2f03bea134f6aee64c640(2).jpg);
}
b{
				color: white;
				font-size: 30px;
				opacity: 0.4px;
				blur: 0.px;
}
p{
				color: Yellow;
				font-size: 25px;
}
li{
				color: white;
				font-size: 25px;
}

