body{
				background-color: black;
                                background-image: url('anime-naruto-pain-naruto-wallpaper-preview.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
 );
}
b{
				color: white;
				font-size: 30px;
				opacity: 0.4px;
				blur: 0.px;
}
p{
				color: blue;
				font-size: 25px;
}
li{
				color: white;
				font-size: 25px;
}

